body {
    margin: 0;
    min-height: 100vh; /* Ensure full height */
    font-family: "Lora", serif;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    width: 100%;
    /* Add flexbox properties if needed for internal header layout */
}

.menu-container {
    background-color: rgb(40,42,53);
    padding: 20px;
    width: 100%; /* Adjust sidebar width as needed */
    display: flex;
    justify-content: space-around;
    color: #f0f0f0;
}

.menu-container a{
    color: #f0f0f0;
}

.main-content {
    flex-grow: 1; /* Allow main content to take up remaining space */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Wrap cards for responsiveness */
    gap: 20px; /* Add spacing between cards */
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: calc(50% - 30px); /* Two cards per row with spacing */
    box-sizing: border-box; /* Include padding and border in width */
}

.whole-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: calc(100% - 40px); /* One card on the row */
    box-sizing: border-box; /* Include padding and border in width */
}

/* Code as Plain text */
.code{
    font-weight: bolder;
}

.code-yellow-background{
    background-color: yellow;
}
.code-blue{
    color: blue;
    font-weight: bolder;
}

/* Code as Plain text */
.code-orange{
    color: orangered;
}


/* Textareas */
.small{
    width: 25rem;
}


/* Special Text */
.bold{
    font-weight: bolder;
}



/* Examples */
.muti-examples{
    display: flex;
    flex-wrap: wrap; /* Wrap cards for responsiveness */
    gap: 20px; /* Add spacing between cards */
}
.example-card{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: calc(50% - 10px); /* Two cards per row with spacing */
    box-sizing: border-box; /* Include padding and border in width */
}





















/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .nav {
        width: 100%; /* Full width sidebar on small screens */
        padding: 10px;
    }

    .main-content {
        padding: 10px;
        gap: 10px;
    }

    .card {
        width: 100%; /* Full width cards on smaller screens */
    }
}