/***************************************************************Main Content************************************************************************/
.main-content {
    flex-grow: 1; /* Allow main content to take up remaining space */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Wrap cards for responsiveness */
    gap: 20px; /* Add spacing between cards */
}

/***************************************************************Cards*******************************************************************************/
.card {
    background-color: var(--card-background);
    box-sizing: border-box; /* Include padding and border in width */
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--card-border);
}

.card a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.card a:hover{
    font-weight: bolder;
    font-size: 1.1rem;
    color: #282828;
}

.whole-card {
    width: calc(100%);
}

.half-card {
    /* sets the width of this card to be 50% of its parent element's width minus 10 pixels */
    width: calc(50% - 10px);
}

.card-question{
    font-size: 1.5rem;
}

.card-answer{
    color: rgb(175, 175, 69);
    font-weight: bolder;
}

.card-answer:hover{
    color: rgb(77, 241, 55);
    font-weight: bolder;
    font-size: 2rem;
}


.card-link{
    
}

.card-link:hover{
   
}


/*Project cards*/
.project-card{
    display: flex;
    justify-content: center;

}

.project-info{
    width: calc(50% - 10px);
}

.project-code{
    width: calc(50% - 10px);
}


/* Examples */
.multi-examples{
    display: flex;
    flex-wrap: wrap; /* Wrap cards for responsiveness */
    gap: 20px; /* Add spacing between cards */
}




/* Special Text */
.bold{
    font-weight: bolder;
}


/* Syntax Box */
.syntax{
    width: calc(30% - 10px);
}