
/* Code Boxes */
.code-box-container{

    border-radius: 5px;
    font-weight: bolder;
}

.code-box-title{
    background-color: #90bc56;
    height: 10%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}

.code-box-title h3{
    margin-top: 0;
    padding: .4rem;
}

.code-box-contents{
    background-color: #19302B;
    padding: 2rem 0;;
    color: #FFFFFF;
}

.code-line{
    margin: 1rem;
}

.code-info{
        border: 1px solid #ccc;
    font-size: .8rem;
}

/* SMALL CODE BOX */
.code-box-small{
    width: calc(40% - 10px); /* Two cards per row with spacing */
    box-sizing: border-box; /* Include padding and border in width */
    margin: 1rem;
}

.code-box-small .code-box-title{
    background-color: #90bc56;
    height: 50%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}

.code-box-small .code-box-title h3{
    margin: 0;
    padding: .4rem;
}



.code-project-box-small{
    width: calc(100% - 5px); /* Two cards per row with spacing */
    box-sizing: border-box; /* Include padding and border in width */
    /* margin: 1rem; */
}

.code-project-box-small .code-box-title{
    background-color: #90bc56;
    height: 50%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}

.code-project-box-small .code-box-title h3{
    margin: 0;
    padding: .4rem;
}


/* SMALL CODE BOX */
.code-box-med{
    width: calc(50% - 10px); /* Two cards per row with spacing */
    box-sizing: border-box; /* Include padding and border in width */
    margin: 1rem;
}

.code-box-med .code-box-title{
    background-color: #90bc56;
    height: 50%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}

.code-box-med .code-box-title h3{
    margin: 0;
    padding: .4rem;
}



/* Code as Plain Text: Example cards */
.code-box{
    font-weight: bolder;
    font-size: .9rem;
    border: 1px solid var(--card-border);
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 10px); /* Two cards per row with spacing */
    box-sizing: border-box; /* Include padding and border in width */
}

.code-yellow-background{
    font-weight: bolder;
    background-color: yellow;
}

.code-blue{
    color: blue;
}

.code-greenish{
    color: #C2DA7C;
}

.code-purple{
    color: blueviolet;
}

.code-light-blue{
    color: rgb(58, 158, 240)
}

.code-green{
    color: green;
    font-weight: bolder;
}

.code-orange-yellow{
    color: rgb(226, 149, 5);
}

.code-light-purple{
    color: rgb(180, 68, 231);
}

.code-comment-grey{
    color: grey;
}

.code-pink{
    color: rgb(255, 119, 142);
}

/* Code as Plain text */
.yellow-green{
    color: yellowgreen;
}

.yellow{
    color: yellow;
}

.code-review{
    color: rgb(31, 223, 31)
}

/* Textareas */
.small{
    width: 25rem;
}

.code-square{
    background-color: #19302B;
    color: #FFFFFF;
    padding: 1rem;
}