/*****************************************************************TABLES*********************************************************************************/
table{
  background-color: var(--table-bg);
}
table, th, td {
    border: 1px solid var(--table-outline);
    border-collapse: collapse;
  }
  th, td {
    padding: 8px; /* Add some padding to cells */
    text-align: left; /* Align text to the left */
  }
  th {
    background-color: var(--table-header-bg); /* Add a light gray background to header cells */
  }

.table-code-purple{
    color: blueviolet;
}

.table-code-green{
    color: green;
}

.table-code-grey{
  color: grey;
}

.table-code-pink{
  color: rgb(243, 85, 111);
}
.table-code-blue{
  color: blue;
}